.filterbtn {
    padding-left: 50px;
    column-count: 3;
    column-span: 1;
    justify-content: left;
    text-align: center;
    float: left;
    background-color: #e14b5e;
}

#filterbox {
    display: grid;
    column-count: 3;
    column-span: 1;
    justify-content: left;
    float: left;
}

#filterdiv {
    column-count: 1;
    column-span: 1;
}