#AboutDiv{
    justify-items: space-between;
}
.MemberPortrait{
    height: 350px;
    width: 400px;
  }
#AboutSect{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 15px;
    
}
.AboutUs{
    font-weight: Bold;
    font-style: oblique;
  
}
.GithubIcon{
    height: 5%;
    width: 10%;
    background-color: transparent;
}
.LinkedInIcon{
    height: 5%;
    width: 10%;
}

