#FoodDiv{
    max-width: 100%;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse:collapse;
    border: 2px solid black;
}
thead th:nth-child(1) {
    width: 30%;
}
thead th:nth-child(2) {
    width: 30%;
}
thead th:nth-child(3) {
    width: 30%;
}
thead th:nth-child(4) {
    width: 30%;
}
tbody td{
    text-align: center;
}

th, td{
    padding:10px;
}
.FoodTable{
    display: flex;
    justify-content: space-between;
}
  
