.NewUserDiv{
    border: 2px solid black;
}
.NewUserForm{
    width:100%;
}
#FormBlurb{
    font-family: "Courier New";
    font-weight: bold;
}
#submit{
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #5D1744;
    padding: 10px 10px;
    font-size: x-large;
}
#newUserSubmitBack{
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #EABDDD;
    padding: 10px 10px;
    font-size: x-large;
}
#buttonDiv{
    display: flex;
    justify-content: center;
    gap: 20px;
}