.NewUserDiv{
    border: 2px solid black;
}

.NewUserForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1em;
}

#FormBlurb{
    font-family: "Courier New";
    font-weight: bold;
    text-align: center;
}
#submit{
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #5D1744;
    padding: 10px 10px;
    font-size: x-large;
}
#newUserSubmitBack{
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #EABDDD;
    padding: 10px 10px;
    font-size: x-large;
}
#buttonDiv{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5em;
}
#name, #image, #age, .emails, #Dietary_Restrictions,#Food_Restrictions, #sexual_orientation, #gender, #about_me, #chat_handle{
    background-color: #5E1745;
    text-align: center;
    max-width: 80em;
    margin-bottom: 1em;
    margin-left: 11.7em;
    margin-top: 1em;
}



