.NewUserDiv{
    border: 2px solid black;
    display: grid;

 
}


.NewUserForm {
    
    display: grid;
    justify-content: end;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 1em;
}

#FormBlurb{
    
    font-weight: bold;
    text-align: center;
}
#submit{  
    padding: 10px 10px;
    font-size: x-large;
}
#submitBtn{
    padding-left: 15px;
}

#buttonDiv{
    display: flex;
    width: auto;
    gap: auto;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 5em;
}
#NameLabel, #ImageLabel, #EmailLabel, #AgeLabel, #DietLabel, #FoodLabel, #SexLabel, #GenderLabel, #AboutLabel, #ChatLabel {
    margin-bottom: 1em;
    margin-top: 1em;
} 
#name, #image, #age, .emails, #Dietary_Restrictions,#Food_Restrictions, #sexual_orientation, #gender, #about_me, #chat_handle{
   background-color: white;
    text-align: center;
    max-width: 23.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}



