#UserDiv{
    transition: transform .3s ease-in-out;
    /* margin-left: 370px; */
    margin-top: 15px;
    margin-bottom: 15px;
}
#UserDiv:hover {
    transform: scale(1.05)
}

#UserImage{
    height: 350px;
    width: 350px;
    padding:10px;
   
}
