#UserDiv{
    transition: transform .3s ease-in-out;
}
#UserDiv:hover {
    transform: scale(1.05)
}

#UserImage{
    height: 350px;
    width: 350px;
    padding:10px;
    border: 5px dotted black;
    border-radius: 15%;
}
