#UserDiv{
    /* margin-left: 370px; */
    margin-top: 15px;
    margin-bottom: 60px;
    border: solid 0.2em #4B1E7F;
    background-color: #DAE3C9;
}

#UserImage{
    height: 350px;
    width: 350px;
    padding:10px;
    /* border: solid 2px black; */
   
}
