h1 {
    margin-top: 6%;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: Comic-Sans;
}

#signInDiv {
    justify-content: center;
    text-align: center;
}

#signInDiv{
    width: 100%;
}
  
#signInDiv > div{
    margin: 0 auto;
}

.login {
    background-color: blueviolet;
    color:white;
}

section {
    height: 100vh;
  }

#username {
    background-color: white;
    color: black;
}

#password {
    background-color: white;
    color: black;
}
